{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Sheena Shrestha</div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive">
                        </div>
                        <div class=" col-md-9 col-lg-9 "> 
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>{{ 'profile.show.username'|trans }}</td><td>{{ user.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td><td>01/24/1988</td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'profile.show.email'|trans }}</td><td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Ultimo acceso</td><td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i') }}{% else %}nunca{% endif %}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Roles</td><td>{% for role in user.roles %}{{ role }}<br>{% endfor %}</td>
                                    </tr>
                                </tbody>
                            </table>  
                        </div>
                    </div>
                </div>
                    {% if app.user.id == user.id %}
                    {% else %}
                    <div class="panel-footer">
                        {% if not user.enabled %}
                            {{ form_start(operation_form) }}
                            {{ form_errors(operation_form) }}
                            <button type="submit" id="form_submit" name="form[submit]" class="btn btn-sm btn-success">
                            <i class="fa fa-check"></i>&nbsp;Habilitar Cuenta</button>&nbsp;
                            {{ form_widget(operation_form._token) }}
                            {{ form_end(operation_form, {'render_rest': false}) }}
                        {% else %}
                            {{ form_start(operation_form) }}
                            {{ form_errors(operation_form) }}
                            {% if not user.locked %}
                                <button type="submit" id="form_submit" name="form[submit]" class="btn btn-sm btn-danger"><i class="fa fa-lock fa-lg"></i>&nbsp;Bloquear</button>&nbsp;
                            {% else %}
                                <button type="submit" id="form_submit" name="form[submit]" class="btn btn-sm btn-success"><i class="fa fa-unlock fa-lg"></i>&nbsp;Desbloquear</button>&nbsp;
                            {% endif %}
                            {{ form_widget(operation_form._token) }}
                            {{ form_end(operation_form, {'render_rest': false}) }}
                        {% endif %}
                            {# Proximamente
                            <a href="{{ path('user_edit', { id: user.id }) }}" class="btn btn-sm btn-warning">
                                <i class="fa fa-edit"></i>&nbsp;Editar</a>
                            #}
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
</div>