{% extends 'base.html.twig' %}

{% block body %}
    <h1>Verificar</h1><br>
    {{ form_start(form) }}
		{{ form_widget(form) }}
	    <input type="submit" value="Buscar" />
	{{ form_end(form) }}

	{% if check is defined %}
		{% if valido %}
			<div class="col-md-11">
				<h2> ACCESO PERMITIDO </h2>
				<h4> {{ check.personal.nombres }} </h4>
				<h4> {{ check.personal.apellidos }} </h4>
				<h4> {{ check.personal.ci }} <h4>
				<h4> {{ check.personal.departamento }} </h4>
				<h4> {{ check.personal.tipo }} </h4>
				<h4> Check: {{ check.fechaHora|date('d/m/Y H:i:s') }} </h4>
			</div>
		{% else %}
			<h2> ACCESO DENEGADO </h2>	
		{% endif %}
	{% endif %}		
{% endblock %}