{% extends 'base.html.twig' %}

{% block body %}
    <h1>Asistencia</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asistencia.id }}</td>
            </tr>
            <tr>
                <th>Horaentrada</th>
                <td>{% if asistencia.horaEntrada %}{{ asistencia.horaEntrada|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Horasalida</th>
                <td>{% if asistencia.horaSalida %}{{ asistencia.horaSalida|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if asistencia.fecha %}{{ asistencia.fecha|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('asistencia_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('asistencia_edit', { 'id': asistencia.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
